.clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px double whitesmoke;
    position: relative;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1rem;
    color: whitesmoke;
}

.clock .number1 {
    --rotation: 30deg;
}

.clcok .sec1 {
    --rotation: 36deg;
}

.clcok .sec2 {
    --rotation: 42deg;
}

.clcok .sec3 {
    --rotation: 48deg;
}

.clcok .sec4 {
    --rotation: 54deg;
}

.clock .number2 {
    --rotation: 60deg;
}

.clock .number3 {
    --rotation: 90deg;
}

.clock .number4 {
    --rotation: 120deg;
}

.clock .number5 {
    --rotation: 150deg;
}

.clock .number6 {
    --rotation: 180deg;
}

.clock .number7 {
    --rotation: 210deg;
}

.clock .number8 {
    --rotation: 240deg;
}

.clock .number9 {
    --rotation: 270deg;
}

.clock .number10 {
    --rotation: 300deg;
}

.clock .number11 {
    --rotation: 330deg;
}

.clock .number12 {
    --rotation: 360deg;
}

.clock .stick {
    --rotation: 0;
    position: absolute;
    bottom: 47.5%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: '';
    position: absolute;
    background: white;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 47.5%;
    left: 47.5%;
    transform: translate(-50% -50%);
    border-radius: 50%;
}

.clock .stick.seconds {
    width: 5px;
    height: 45%;
    background-color: lightgray;
}

.clock .stick.minutes {
    width: 7px;
    height: 35%;
    background-color: gray;
}

.clock .stick.hour {
    width: 10px;
    height: 28%;
    background-color: darkgray;
}

#clock {
    display: none;
}

.time {
    color: white;
}

@media screen and (max-width: 760px) {
    .clock {
        display: none;
    }

    #clock {
        display:contents;
        text-align: center;
        color: white;
    }
}